<template>
  <v-toolbar color="primary" flat app>
    <v-layout justify-space-around>
      <v-btn icon large to='/profile'>
        <v-icon medium color='white'>far fa-user</v-icon>
      </v-btn>
      <v-btn icon large to='/tips'>
        <v-icon medium color='white'>far fa-lightbulb</v-icon>
      </v-btn>
      <v-menu bottom left>
        <v-btn icon large slot="activator">
          <v-icon medium color='white'>fa-ellipsis-v</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click.native='logout'>
            <v-list-tile-title>Déconnexion</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-layout>
  </v-toolbar>
</template>

<script>
  export default {
    name: 'TopNav',
    methods: {
      logout () {
      this.$store.dispatch('AUTH_LOGOUT').then(() => {
        this.$router.push('/login')
      })
    }
    }
  }
</script>