<template>
  <v-app>
    <top-nav/>
    <v-content>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-content>
    <bottom-nav/>
  </v-app>
</template>

<script>
import TopNav from '@/components/template/TopNav'
import BottomNav from '@/components/template/BottomNav'

export default {
  name: 'App',
  components: {
    TopNav,
    BottomNav
  },
}
</script>

<style>
.v-content {
  background-color:#5CBBA2;  
}
</style>
