<template>
  <div>
  <v-layout align-center justify-center row>
    <v-card flat class="rounded-card small-card primary--text">
      <v-card-text>
      <div class="title">Niveau {{ userData.level }}</div> 
      <div class="text-xs-center"><span class="display-3">{{userData.points}}</span><v-icon color='primary'>fa-leaf</v-icon></div> 
      <div class="subheading">Ce mois-ci, j'ai jeté : </div>
      <div><span class="headline">{{ nbTrashes.gris }}</span> poubelles grises</div>
      <div><span class="headline">{{ nbTrashes.tri }}</span> poubelles de tri</div>
      </v-card-text>
    </v-card>
  </v-layout>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" width="500" hide-overlay>
      <v-btn class="btn-dump" slot="activator" fab dark color="white">
        <img class="icon-dump" src="@/assets/img/icon_poubelle.svg" />
      </v-btn>
      <v-card class="rounded-card">
        <v-btn class="btnClose" icon large color="primary" right @click.native="dialog=false">
          <v-icon dark>close</v-icon>
        </v-btn>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-menu ref="datePicker" :close-on-content-click="false" v-model="datePicker" :nudge-right="40" :return-value.sync="date" lazy transition="scale-transition" min-width="290px">
              <v-text-field slot="activator" persistent-hint v-model="dateFormatted" label="Choisir une date" prepend-icon="event" readonly>
              </v-text-field>
              <v-date-picker v-model="date" locale="fr" @input="$refs.datePicker.save(date)">
              </v-date-picker>
            </v-menu>
            <v-spacer></v-spacer>
            <v-select :items="userData.trashes" v-model="form.trashId" prepend-icon="fa-trash" item-value="id" label="Quelle poubelle?">
              <template slot="selection" slot-scope="data">
                {{ data.item.type }} {{ data.item.capacity }}L
              </template>
              <template slot="item" slot-scope="data">
                {{ data.item.type }} {{ data.item.capacity }}L
              </template>
            </v-select>
            <v-switch :label="`Poubelle pleine: ${switchLabel}`"
              v-model="form.full"
              color="#5CBBA2">
            </v-switch>
            
              
              <div class="text-xs-center">
                <v-btn class="btn-jeter2" @click.native="submit" large fab dark color="white">
                  <img class="icon-dump" src="@/assets/img/icon_poubelle.svg"/>
                </v-btn>
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  
  export default {
    name: 'Dump',
    data() {
      return {
        valid: true,
        dialog: false,
        date: new Date().toISOString().slice(0, 10),
        dateFormatted: new Date().toLocaleDateString().slice(0, 10),
        datePicker: false,
        errorMessage: '',
        form: {
          trashId: '',
          full: true
        }
      }
    },
    mounted() {
      this.loadUserData()
    },
    computed: {
      ...mapGetters([
        'userData',
        'nbTrashes',
      ]),
  
      switchLabel() {
        let label = 'non'
        if (this.form.full) label = 'oui'
        return label
      },
  
    },
    watch: {
      date() {
        this.dateFormatted = this.formatDate(this.date, '/')
      }
    },
    methods: {
      async loadUserData() {
        await this.$store.dispatch('getUserData')
      },
      formatDate(date, sep) {
        const [year, month, day] = date.split('-')
        return day + sep + month + sep + year
      },
      formDate(date) {
        const [year, month, day] = date.split('-')
        return year + '-' + month + '-' + day
      },
  
      async submit() {
        let response = await axios.post('dumps', {
          user_id: this.userData.id,
          trash_id: this.form.trashId,
          full: this.form.full,
          date: this.formDate(this.date)
        })
        if (response.data.status == 'success') {
          this.$store.dispatch('getUserData')
        }
        this.dialog = false
      },
  
    }
  }
</script>

<style lang="stylus" scoped>
  .small-card{
    max-width: 200px;
  }
  .btn-dump {
    height: 150px;
    width: 150px;
    margin-top:20px;
  }
  .icon-dump {
    max-width: 50%;
  }
</style>