<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card flat class="rounded-card primary--text">
        <v-card-title>
          <div class="title">{{userData.username}}</div>
        </v-card-title>
        <v-card-text>
          <v-list>
            <v-list-group v-model="group.user.active" prepend-icon="fa-user">
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>Mes informations</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-action>
                  <v-icon>far fa-envelope-open</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-sub-title>Adresse mail</v-list-tile-sub-title>
                  <v-list-tile-title v-if="userData.email">{{userData.email}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-btn round block color="primary" @click.native="group.user.edit=true">Modifier</v-btn>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-group>
            <v-divider></v-divider>
            <v-list-group v-model="group.home.active" prepend-icon="fa-home">
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>Mon foyer</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-action>
                  <v-icon>fa-home</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-sub-title>Mon logement</v-list-tile-sub-title>
                  <v-list-tile-title v-if="userData.home">{{userData.home.type}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile>
                <v-list-tile-action>
                  <v-icon>fa-users</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-sub-title>Nombre de personnes</v-list-tile-sub-title>
                  <v-list-tile-title v-if="userData.home">{{userData.home.residents}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile>
                <v-list-tile-action>
                  <v-icon>fa-transgender</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-sub-title>Genre(s)</v-list-tile-sub-title>
                  <v-list-tile-title v-if="userData.home">{{userData.home.gender}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile-content>
                <v-btn round block color="primary" @click.native="group.home.edit=true">Modifier</v-btn>
              </v-list-tile-content>
            </v-list-group>
            <v-divider></v-divider>
            <v-list-group v-model="group.trashes.active" prepend-icon="fa-trash">
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>Mes poubelles</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile v-if="userData.trashes" v-for="trash in userData.trashes" :key="trash.id">
                <v-list-tile-content>
                  <v-list-tile-sub-title>Poubelle {{ trash.type }}</v-list-tile-sub-title>
                  <v-list-tile-title>Capacité: {{ trash.capacity }} litres</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile-content>
                <v-btn round block color="primary" @click.native="group.trashes.edit=true">Modifier</v-btn>
              </v-list-tile-content>
            </v-list-group>
            <v-divider></v-divider>
            <v-list-group v-model="group.skills.active" prepend-icon="fa-fist-raised">
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>Mes compétences</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile v-if="userData.skills" v-for="skill in userData.skills" :key="skill.id">
                <v-list-tile-content>
                  <v-list-tile-sub-title v-if="skill.category === 'vrac'">Courses en vrac</v-list-tile-sub-title>
                  <v-list-tile-sub-title v-if="skill.category === 'bio'">Consommer en bio</v-list-tile-sub-title>
                  <v-list-tile-sub-title v-if="skill.category === 'local'">Consommer local</v-list-tile-sub-title>
                  <v-list-tile-sub-title v-if="skill.category === 'diy'">Faire ses produits de beauté ou d'entretien</v-list-tile-sub-title>
                  <v-list-tile-sub-title v-if="skill.category === 'composter'">Pratiquer le compostage</v-list-tile-sub-title>
                  <v-list-tile-sub-title v-if="skill.category === 'progressGrey'">Réduction de mes déchets (poubelle grise)</v-list-tile-sub-title>
                  <v-list-tile-sub-title v-if="skill.category === 'progressTri'">Réduction de mes déchets (poubelle de tri)</v-list-tile-sub-title>
                  <v-list-tile-title>{{ skill.description }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile-content>
                <v-btn round block color="primary" @click.native="group.skills.edit=true">Modifier</v-btn>
              </v-list-tile-content>
            </v-list-group>
          </v-list>
        </v-card-text>
      </v-card>
      <v-dialog v-model="group.user.edit" max-width="500">
        <v-card class="rounded-card">
          <v-btn class="btnClose" icon large color="primary" right @click.native="group.user.edit=false">
            <v-icon dark>close</v-icon>
          </v-btn>
          <v-card-text>
            <v-form ref="form">
              <v-text-field v-model="userData.username" prepend-icon="fa-user" label="Pseudo" :rules="[rules.required]"></v-text-field>
              <v-text-field v-model="userData.email" prepend-icon="far fa-envelope-open" label="Adresse mail" :rules="[rules.required,rules.emailValid]"></v-text-field>
              <v-text-field v-model="formUser.password" prepend-icon="fa-lock" :append-icon="showPassword ? 'visibility_off' : 'visibility'" :type="showPassword ? 'text' : 'password'" @click:append="showPassword = !showPassword" name="password" label="Changer de mot de passe"
                :rules="[rules.min]">
              </v-text-field>
              <v-text-field v-model="formUser.password_confirmation" prepend-icon="fa-lock" :append-icon="showPasswordConf ? 'visibility_off' : 'visibility'" :type="showPasswordConf ? 'text' : 'password'" @click:append="showPasswordConf = !showPasswordConf" name="password_confirmation"
                label="Confirmation du mot de passe" :rules="[rules.min]">
              </v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn round block color="primary" @click.native="EditUser">
              Confirmer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="group.home.edit" max-width="500">
        <v-card class="rounded-card">
          <v-btn class="btnClose" icon large color="primary" right @click.native="group.home.edit=false">
            <v-icon dark>close</v-icon>
          </v-btn>
          <v-card-text>
            <v-form ref="form" v-if="userData.home">
              <v-select v-model="userData.home.type" prepend-icon="fa-home" :items="homes" :rules="[rules.required]" label="Dans quel type de logement vivez-vous?"></v-select>
              <v-radio-group v-model="userData.home.gender" prepend-icon="fa-user" label="Quelle est la composition de votre foyer ?" :rules="[rules.required]">
                <v-radio label="Fille" value="Fille"></v-radio>
                <v-radio label="Garçon" value="Garçon"></v-radio>
                <v-radio label="Mixte" value="Mixte"></v-radio>
              </v-radio-group>
              <v-select v-model="userData.home.residents" prepend-icon="fa-users" :items="number" :rules="[rules.required]" label="Combien êtes vous dans le foyer ?"></v-select>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn round block color="primary" @click.native="EditHome">
              Confirmer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="group.trashes.edit" max-width="500">
        <v-card flat class="rounded-card">
          <v-btn class="btnClose" icon large color="primary" right @click.native="group.trashes.edit=false">
            <v-icon dark>close</v-icon>
          </v-btn>
          <v-card-text>
            <v-form ref="form">
              <v-select v-model="userIdTrashes.grise" :items="trashGrey" :rules="[rules.required]" prepend-icon="fa-trash" item-value="id" label="Poubelle grise" multiple>
                <template slot="selection" slot-scope="data">
                  <v-chip>
                    <span>{{ data.item.capacity }}L</span>
                  </v-chip>
                  </template>
                  <template slot="item" slot-scope="data">
                    <v-list-tile>
                      <v-list-tile-content>
                        <v-list-tile-title>{{ data.item.capacity }} litres</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
              </v-select>
              <v-select v-model="userIdTrashes.tri" :items="trashTri" :rules="[rules.required]" prepend-icon="fa-trash" item-value="id" label="Poubelle de tri" multiple>
                <template slot="selection" slot-scope="data">
                  <v-chip>
                    <span>{{ data.item.capacity }}L</span>
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <v-list-tile>
                    <v-list-tile-content>
                      <v-list-tile-title>{{ data.item.capacity }} litres</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-select>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn round block color="primary" @click.native="EditTrashes">
              Confirmer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="group.skills.edit" max-width="500">
        <v-card flat class="rounded-card">
          <v-btn class="btnClose" icon large color="primary" right @click.native="group.skills.edit=false">
            <v-icon dark>close</v-icon>
          </v-btn>
          <v-card-text>
            <v-form ref="form">
              <v-select v-model="userSkills.diy" :items="skillDiy" prepend-icon="fa-flask" item-value="id" label="Faire ses produits de beauté ou d'entretien" clearable>
                <template slot="selection" slot-scope="data">
                  {{ data.item.description}}
                </template>
                <template slot="item" slot-scope="data">
                  <v-list-tile >
                    <v-list-tile-content>
                      <v-list-tile-title>{{ data.item.description }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-select>
              <v-select v-model="userSkills.vrac" :items="skillVrac" prepend-icon="fa-balance-scale" item-value="id" label="Courses en vrac" clearable>
                <template slot="selection" slot-scope="data">
                  {{ data.item.description}}
                </template>
                <template slot="item" slot-scope="data">
                  <v-list-tile >
                    <v-list-tile-content>
                      <v-list-tile-title>{{ data.item.description}}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-select>
              <v-select v-model="userSkills.bio" :items="skillBio" prepend-icon="fa-shopping-cart" item-value="id" label="Consommer bio" clearable>
                <template slot="selection" slot-scope="data">
                  {{ data.item.description}}
                </template>
                <template slot="item" slot-scope="data">
                  <v-list-tile >
                    <v-list-tile-content>
                      <v-list-tile-title>{{ data.item.description}}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-select>
              <v-select v-model="userSkills.local" :items="skillLocal" prepend-icon="fa-shopping-cart" item-value="id" label="Consommer local" clearable>
                <template slot="selection" slot-scope="data">
                  {{ data.item.description}}
                </template>
                <template slot="item" slot-scope="data">
                  <v-list-tile >
                    <v-list-tile-content>
                      <v-list-tile-title>{{ data.item.description}}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-select>
              <v-switch label="Je pratique le compostage"
                v-model="userSkills.compost"
                color="#5CBBA2">
              </v-switch>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn round block color="primary" @click.native="EditSkills">
              Confirmer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  export default {
    name: 'Profile',
    data() {
      return {
        group: {
          user: {
            active: false,
            edit: false
          },
          trashes: {
            active: false,
            edit: false
          },
          home: {
            active: false,
            edit: false
          },
          skills: {
            active: false,
            edit: false
          }
        },
        formUser: {
          password: '',
          password_confirmation: ''
        },
        showPassword: false,
        showPasswordConf: false,
        rules: {
          required: value => !!value || 'Le champ est requis',
          min: v => v.length >= 6 || 'Le champ doit contenir au moins 6 caractères',
          emailValid: v => /.+@.+/.test(v) || 'L\'adresse mail doit être valide'
        },
        number: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        homes: ['Appartement sans balcon', 'Appartement avec balcon', 'Maison sans jardin', 'Maison avec jardin'],
        trashes:[],
        skills:[],
      }
    },
    mounted() {
      this.loadUserData()
      this.loadTrashes()
      this.loadSkills()
    },
    computed: {
      ...mapGetters([
        'userData',
        'userIdTrashes',
        'userSkills'
      ]),
      trashGrey() {
        let trashes = []
        for (let trash of this.trashes.filter(trash => trash.type === 'grise')) {
          trashes.push(trash)
        }
        return trashes
      },
      trashTri() {
        let trashes = []
        for (let trash of this.trashes.filter(trash => trash.type === 'de tri')) {
          trashes.push(trash)
        }
        return trashes
      },
      skillVrac() {
        let skills = []
        for (let skill of this.skills.filter(skill => skill.category === 'vrac')) {
          skills.push(skill)
        }
        return skills
      },
      skillDiy() {
        let skills = []
        for (let skill of this.skills.filter(skill => skill.category === 'diy')) {
          skills.push(skill)
        }
        return skills
      },
      skillBio() {
        let skills = []
        for (let skill of this.skills.filter(skill => skill.category === 'bio')) {
          skills.push(skill)
        }
        return skills
      },
      skillLocal() {
        let skills = []
        for (let skill of this.skills.filter(skill => skill.category === 'local')) {
          skills.push(skill)
        }
        return skills
      }
    },
    methods: {
      async loadUserData() {
        await this.$store.dispatch('getUserData')
      },
      loadTrashes() {
        axios.get('trashes')
          .then(response =>{
            this.trashes = response.data.data
          })
      },
      loadSkills() {
        axios.get('skills')
          .then(response =>{
            this.skills = response.data.data
          })
      },
      EditUser() {
        axios.put('users/' + this.userData.id, {
            username: this.userData.username,
            email: this.userData.email,
            password: this.formUser.password,
            password_confirmation: this.formUser.password_confirmation
          })
          .then(success => {
            this.group.user.edit = false
          })
          .catch(error => {
            throw error
          })
      },
      EditHome() {
        axios.put('homes/' + this.userData.home.id, {
            type: this.userData.home.type,
            gender: this.userData.home.gender,
            residents: this.userData.home.residents
          })
          .then(success => {
            this.group.home.edit = false
          })
          .catch(error => {
            throw error
          })
      },
      EditTrashes() {
        axios.post('trashes/sync', this.userIdTrashes)
          .then(success => {
            this.group.trashes.edit = false
            this.loadUserData()
          })
          .catch(error => {
            throw error
          })
      },
      EditSkills() {
        axios.post('skills/sync', this.userSkills)
          .then(success => {
            this.group.skills.edit = false
            this.loadUserData()
          })
          .catch(error => {
            throw error
          })
      }
    }
  }
</script>
