<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card flat class="rounded-card" max-width="500">
        <v-card-text>
          <v-subheader class="pa-0">Ou puis-je jeter mon déchet ?</v-subheader>
          <v-autocomplete v-model="waste" :items="wastes" label="Nom du déchet" prepend-icon="fa-search" item-text="name">
          </v-autocomplete>
        </v-card-text>
        <v-expand-transition>
          <v-list v-if="waste">
            <v-list-tile v-for="container in containers" :key="container.id">
              <v-list-tile-avatar>
                <v-icon icon>fa-trash</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{container.type}}</v-list-tile-title>
                <v-list-tile-sub-title>{{ container.subtype }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-expand-transition>
      </v-card>
      <div class="text-xs-center">
        <v-btn class="btn-dump" :to="{ name: 'Map'}" icon dark color="white">
          <v-icon color='primary'>fa-map-marked-alt fa-4x</v-icon>
        </v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  
  export default {
    name: 'Search',
    data() {
      return {
        waste: null,
      }
    },
    mounted() {
      this.loadWastes()
    },
    computed: {
      ...mapGetters([
        'wastes'
      ]),
      containers() {
        if (!this.waste) return []
        let wastes = this.wastes.filter(waste => waste.name === this.waste)
        let containers = wastes[0].containers
        return containers
      }
    },
    methods: {
      async loadWastes() {
        await this.$store.dispatch('getWastes')
      },
    }
  }
</script>

<style lang="stylus" scoped>
  .btn-dump {
    height: 150px;
    width: 150px;
    margin-top:20px;
  }
</style>