<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card flat class="rounded-card">
        <v-card-title>
          <div class="headline primary--text">Vos compétences</div>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-select v-model="form.diy" :items="skillDiy" prepend-icon="fa-flask" item-value="id" label="Faire ses produits de beauté ou d'entretien" clearable>
              <template slot="selection" slot-scope="data">
                {{ data.item.description}}
              </template>
              <template slot="item" slot-scope="data">
                <v-list-tile >
                  <v-list-tile-content>
                    <v-list-tile-title>{{ data.item.description }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-select>
            <v-select v-model="form.vrac" :items="skillVrac" prepend-icon="fa-balance-scale" item-value="id" label="Courses en vrac" clearable>
              <template slot="selection" slot-scope="data">
                {{ data.item.description}}
              </template>
              <template slot="item" slot-scope="data">
                <v-list-tile >
                  <v-list-tile-content>
                    <v-list-tile-title>{{ data.item.description}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-select>
            <v-select v-model="form.bio" :items="skillBio" prepend-icon="fa-shopping-cart" item-value="id" label="Consommer bio" clearable>
              <template slot="selection" slot-scope="data">
                {{ data.item.description}}
              </template>
              <template slot="item" slot-scope="data">
                <v-list-tile >
                  <v-list-tile-content>
                    <v-list-tile-title>{{ data.item.description}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-select>
            <v-select v-model="form.local" :items="skillLocal" prepend-icon="fa-shopping-cart" item-value="id" label="Consommer local" clearable>
              <template slot="selection" slot-scope="data">
                {{ data.item.description}}
              </template>
              <template slot="item" slot-scope="data">
                <v-list-tile >
                  <v-list-tile-content>
                    <v-list-tile-title>{{ data.item.description}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-select>
            <v-switch :label="`Je pratique le compostage: ${switchLabel}`"
              v-model="form.compost"
              color="#5CBBA2">
            </v-switch>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn slot="activator" round block color="primary" @click.native="submit">Enregistrer</v-btn>
          <v-dialog v-model="isSubmit" max-width="500">
            <v-card class="rounded-card">
              <v-card-title class="headline">Mission accomplie !</v-card-title>
              <v-card-text>
                <div>Maintenant passons aux choses sérieuses.</div>
                <div>Ne changez rien à vos habitudes pour le moment !</div>
                <div>Jetez vos poubelles normalement le premier mois et enregistrez toutes vos poubelles sur l’application.</div>
                <div>Ce mois sera votre premier mois de référence, il nous servira à mesurer votre progression.</div>
                <div>Après ce mois de référence, vous recevrez nos conseils pour faire vos premiers pas vers le Zéro Déchet !</div>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn round block color="primary" :to="'/'">
                  Me servir de l'application
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="error.dialog" max-width="500">
            <v-card class="rounded-card">
              <v-card-title class="headline">Enregistrement des compétences impossible</v-card-title>
              <v-card-text>
                {{error.msg}}
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" flat @click.native="error.dialog = false">
                  Fermer
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: 'Skills',
    data() {
      return {
        skills: [],
        form: {
          vrac: null,
          diy: null,
          bio: null,
          local: null,
          compost: false
        },
        isSubmit: false,
        error: {
          dialog: false,
          msg: ''
        }
      }
    },
    mounted() {
      this.loadSkills()
    },
    computed: {
      skillVrac() {
        let skills = []
        for (let skill of this.skills.filter(skill => skill.category === 'vrac')) {
          skills.push(skill)
        }
        return skills
      },
      skillDiy() {
        let skills = []
        for (let skill of this.skills.filter(skill => skill.category === 'diy')) {
          skills.push(skill)
        }
        return skills
      },
      skillBio() {
        let skills = []
        for (let skill of this.skills.filter(skill => skill.category === 'bio')) {
          skills.push(skill)
        }
        return skills
      },
      skillLocal() {
        let skills = []
        for (let skill of this.skills.filter(skill => skill.category === 'local')) {
          skills.push(skill)
        }
        return skills
      },
      switchLabel() {
        let label = 'non'
        if (this.form.compost) label = 'oui'
        return label
      }
    },
    methods: {
      loadSkills() {
        axios.get('skills')
          .then(response =>{
            this.skills = response.data.data
          })
      },
      submit() {
        
        axios.post('skills/sync', this.form)
          .then(success => {
            this.isSubmit = true
          })
          .catch(error => {
            this.form.vrac = null
            this.form.diy = null,
            this.form.bio = null,
            this.form.local = null,
            this.form.compost = false
            this.error.dialog = true
            this.error.msg = error.data.msg
          })
      }
    }
  }
</script>
