<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card flat class="rounded-card" max-width="500">
        <v-card-text>
          <linechart :height="500"></linechart>
        </v-card-text>
      </v-card>
      <div class="text-xs-center">
        <v-btn round block color="white" @click.native="submit">Calculer ma progression</v-btn>
      </div>
      <v-dialog v-model="isSubmit" max-width="500">
        <v-card class="rounded-card">
          <v-card-title v-if='progress.grey < 0 || progress.tri < 0' class="headline">Bravo !</v-card-title>
          <v-card-title v-else class="headline">Faite un effort !</v-card-title>
          <v-card-text>
            <div v-if='progress.grey < 0 || progress.tri < 0'>Votre production globale de déchets a diminué.</div>
            <div v-else>Votre production globale de déchets a augmenté durant les 30 derniers jours.</div>
            <div>Votre volume de poubelle grise est de {{volumes.grey}} litres ({{progress.grey}}%)</div>
            <div>Votre volume de poubelle de tri est de {{volumes.tri}} litres ({{progress.tri}}%)</div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn round block color="primary" :to="'/'">
              Fermer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import Linechart from './../template/LineChart'
  
  export default {
    name: 'Stats',
    components: {
      Linechart
    },
    data() {
      return {
        skills: [],
        isSubmit: false,
      }
    },
    mounted() {
      this.loadSkills()
    },
    computed: {
      ...mapGetters([
        'userData',
        'monthDumps',
        'firstMonthDumps',
        'userIdTrashes',
        'userSkills'
      ]),
      volumes() {
        let total = {
          firstMonthGrey: 0,
          firstMonthTri: 0,
          grey: 0,
          tri: 0
        }
        for (let key in this.firstMonthDumps) {
          let trash = this.userData.trashes.filter(trash => trash.id === this.firstMonthDumps[key].trash_id)
          let capacity = null
          if (this.firstMonthDumps[key].full) {
            capacity = trash['0'].capacity
          } else {
            capacity = trash['0'].capacity / 2
          }
          if (this.userIdTrashes.grise.includes(trash['0'].id)) {
            total.firstMonthGrey = total.firstMonthGrey + capacity
          } else {
            total.firstMonthTri = total.firstMonthTri + capacity
          }
        }
        for (let key in this.monthDumps) {
          let trash = this.userData.trashes.filter(trash => trash.id === this.monthDumps[key].trash_id)
          let capacity = null
          if (this.monthDumps[key].full) {
            capacity = trash['0'].capacity
          } else {
            capacity = trash['0'].capacity / 2
          }
          if (this.userIdTrashes.grise.includes(trash['0'].id)) {
            total.grey = total.grey + capacity
          } else {
            total.tri = total.tri + capacity
          }
        }
        return total
      },
      progress() {
        let progress = {
          grey: ((this.volumes.grey - this.volumes.firstMonthGrey) / this.volumes.firstMonthGrey * 100).toFixed(1),
          tri: ((this.volumes.tri - this.volumes.firstMonthTri) / this.volumes.firstMonthTri * 100).toFixed(1)
        }
        return progress
      }
    },
    methods: {
      loadSkills() {
        axios.get('skills')
          .then(response => {
            this.skills = response.data.data
          })
      },
      async submit() {
        if (this.progress.grey < 0 && this.progress.grey >= -15 ){
          this.userSkills.progressGrey = 22
        } else if (this.progress.grey < -15 && this.progress.grey >= -30 ){
          this.userSkills.progressGrey = 23
        } else if (this.progress.grey < -30 && this.progress.grey >= -50 ){
          this.userSkills.progressGrey = 24
        } else if (this.progress.grey < -50 && this.progress.grey >= -75 ){
          this.userSkills.progressGrey = 25
        } else if (this.progress.grey < -75 ){
          this.userSkills.progressGrey = 26
        } else {
          this.userSkills.progressGrey = null
        }

         if (this.progress.tri < 0 && this.progress.tri >= -15 ){
          this.userSkills.progressTri = 27
        } else if (this.progress.tri < -15 && this.progress.tri >= -30 ){
          this.userSkills.progressTri = 28
        } else if (this.progress.tri < -30 && this.progress.tri >= -50 ){
          this.userSkills.progressTri = 29
        } else if (this.progress.tri < -50 && this.progress.tri >= -75 ){
          this.userSkills.progressTri = 30
        } else if (this.progress.tri < -75 ){
          this.userSkills.progressTri = 31
        } else {
          this.userSkills.progressTri = null
        }
        axios.post('skills/sync', this.userSkills)
          .then(success => {
            this.isSubmit = true
          })
          .catch(error => {
            throw error
          })
      }
    }
  }
</script>

<style lang="stylus" scoped>
</style>