<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card flat class="rounded-card">
        <v-card-title>
          <div class="headline primary--text">Vos poubelles</div>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-select v-model="form.grise" :items="trashGrey" :rules="[rules.required]" prepend-icon="fa-trash" item-value="id" label="Poubelle grise" multiple>
              <template slot="selection" slot-scope="data">
                <v-chip>
                  <span>{{ data.item.capacity }}L</span>
                </v-chip>
              </template>
              <template slot="item" slot-scope="data">
                <v-list-tile >
                  <v-list-tile-content>
                    <v-list-tile-title>{{ data.item.capacity }} litres</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-select>
            <v-select v-model="form.tri" :items="trashTri" :rules="[rules.required]" prepend-icon="fa-trash" item-value="id" label="Poubelle de tri" multiple>
              <template slot="selection" slot-scope="data">
                <v-chip>
                  <span>{{ data.item.capacity }}L</span>
                </v-chip>
              </template>
              <template slot="item" slot-scope="data">
                <v-list-tile >
                  <v-list-tile-content>
                    <v-list-tile-title>{{ data.item.capacity }} litres</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-select>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn slot="activator" round block color="primary" :disabled="!valid" @click.native="submit">Enregistrer</v-btn>
          <v-dialog v-model="error.dialog" max-width="500">
            <v-card class="rounded-card">
              <v-card-title class="headline">Enregistrement des poubelles impossible</v-card-title>
              <v-card-text>
                {{error.msg}}
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" flat @click.native="error.dialog = false">
                  Fermer
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: 'Trashes',
    data() {
      return {
        trashes: [],
        form: {
          grise: [],
          tri: [],
        },
        isSubmit: false,
        error: {
          dialog: false,
          msg: ''
        },
        rules: {
          required: value => !!value || 'Le champ est requis'
        }
      }
    },
    mounted() {
      this.loadTrashes()
    },
    computed: {
      trashGrey() {
        let trashes = []
        for (let trash of this.trashes.filter(trash => trash.type === 'grise')) {
          trashes.push(trash)
        }
        return trashes
      },
      trashTri() {
        let trashes = []
        for (let trash of this.trashes.filter(trash => trash.type === 'de tri')) {
          trashes.push(trash)
        }
        return trashes
      },
      valid() {
        if (this.form.grise === '' || this.form.tri === '') {
          return false
        }
        return true
      }
    },
    methods: {
      loadTrashes() {
        axios.get('trashes')
          .then(response =>{
            this.trashes = response.data.data
          })
      },
      submit() {
        axios.post('trashes/sync', this.form)
          .then(success => {
            this.$router.push('/skills')
          })
          .catch(error => {
            this.form.grise = []
            this.form.tri = []
            this.error.dialog = true
            this.error.msg = error.data.msg
          })
      }
    }
  }
</script>
