<template>
    <v-layout align-center justify-center row fill-height>
        <v-flex xs12 sm8 md4>
            <h1>Liste d'infos</h1>
        </v-flex>
    </v-layout>
</template>
<script>
    export default {
        name: 'InfoCategories'
    }
</script>