<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
            <h1>Liste d'astuces</h1>
    
            <div class="category" :elevation="5" v-for="advice in advices" v-model="advices">
                <router-link color="teal" :to="{ name: 'Login'}">
                    {{ advice.title }}
                </router-link>
            </div>
    
    
        </v-flex>
    </v-layout>
</template>

<script>
    import axios from 'axios'
    
    export default {
        name: 'TipsCategories',
        data() {
            return {
                advices: [],
            }
    
        },
    
        methods: {
            getAdvice() {
                axios.get('advices')
                    .then(response => {
                        console.log(response.data.data)
                        this.advices = response.data.data
                    })
    
            }
        },
        mounted() {
            this.getAdvice()
        }
    }
</script>

<style>
    .category {
        background: #E1F2EE;
        margin: 20px;
        padding: 20px;
        border-radius: 25px;
        padding: 20px;
    }
</style>


