<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
    
            <div class="text-xs-center">
                Mes Petite Infos Pratiques
            </div>
    
            <div class="text-xs-center" id="tips">
    
                <h3 dark>Mes Petites Astuces </h3>
                <small>Retrouvez toutes vos astuces dans votre bibliothèque.</small>
                <br>
                <router-link color="teal" :to="{ name: 'TipsCategories'}">
                    <v-btn fab dark small color="teal">
                        <v-icon>remove_red_eye</v-icon>
                    </v-btn>
                </router-link>
    
            </div>
    
            <router-link class="toto" color="teal" :to="{ name: 'InfoCategories'}">
    
                <div class="text-xs-center" id="infos">
                    <h3 dark>Mes Petites Infos</h3>
                    <small>Retrouvez toutes vos astuces dans votre bibliothèque.</small>
                    <br>
    
                    <v-btn fab dark small color="teal">
                        <v-icon dark>remove_red_eye</v-icon>
                    </v-btn>
    
                </div>
            </router-link>
    
    
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "tips"
    }
</script>

<style>
    #tips,
    #infos {
        background: #E1F2EE;
        margin: 20px;
        padding: 20px;
        border-radius: 25px;
        padding: 20px;
    }
    
    small {
        text-align: left;
    }
    
    .toto {
        color: black;
    }
</style>

