@import url('https://fonts.googleapis.com/css?family=Nunito');
$body-font-family = 'Nunito','Sans serif';
@import '~vuetify/src/stylus/main';


.rounded-card{
  border-radius:25px;
}
.btnClose {
 float: right;
 right :0;
}
.v-dialog{
  border-radius:25px;
}