<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <div class="text-xs-center">
      <img class="logo" src="@/assets/img/logo.png"/>
      </div>
      <v-card flat class="rounded-card">
        <v-card-text>
          <v-form ref="form">
            <v-text-field v-model="credentials.email" prepend-icon="far fa-envelope-open" label="Adresse mail" :rules="[rules.required,rules.emailValid]"></v-text-field>
            <v-text-field v-model="credentials.password" 
              prepend-icon="fa-lock" 
              :append-icon="showPassword ? 'visibility_off' : 'visibility'" 
              :type="showPassword ? 'text' : 'password'"  
              @click:append="showPassword = !showPassword" 
              name="password" 
              label="Mot de passe" 
              :rules="[rules.required,rules.min]">
            </v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn round block color="primary" :disabled="!valid" @click.native="submit">Connexion</v-btn>
        </v-card-actions>
      </v-card>
       <v-dialog v-model="error.dialog" width="500" hide-overlay>
         <v-card class="rounded-card">
              <v-card-title class="headline">Connexion impossible</v-card-title>
              <v-card-text>
                {{error.msg}}
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" flat @click.native="error.dialog = false">
                  Fermer
                </v-btn>
              </v-card-actions>
            </v-card>
       </v-dialog>
      <div>
        <v-btn flat color="white" :to="{ name: 'Register'}">Créer un compte</v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: 'Login',
    data() {
      return {
        credentials: {
          email: '',
          password: ''
        },
        showPassword: false,
        rules: {
          required: value => !!value || 'Le champ est requis',
          min: v => v.length >= 6 || 'Le champ doit contenir au moins 6 caractères',
          emailValid:  v => /.+@.+/.test(v) || 'L\'adresse mail doit être valide'
        },
        error:{
          dialog:false,
          msg:''
        }
      }
    },
    computed: {
      valid() {
        if (this.credentials.email === '' || this.credentials.password === '') {
          return false
        }
        return true
      }
    },
    methods: {
      submit() {
        this.$store.dispatch('AUTH_REQUEST', this.credentials)
          .then(success => {
            this.$router.push('/')
          })
          .catch(error => {
            this.credentials.password = ''
            this.error.dialog = true
            this.error.msg = error.response.data.message
          })
      }
    }
  }
</script>
<style lang="stylus" scoped>
.logo{
  max-width 150px;
}
</style>

