<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card flat class="rounded-card">
        <v-card-text>
          <v-form ref="form">
            <v-text-field v-model="form.username" prepend-icon="fa-user" label="Pseudo" :rules="[rules.required]"></v-text-field>
            <v-text-field v-model="form.email" prepend-icon="far fa-envelope-open" label="Adresse mail" :rules="[rules.required,rules.emailValid]"></v-text-field>
            <v-text-field v-model="form.password" 
              prepend-icon="fa-lock" 
              :append-icon="showPassword ? 'visibility_off' : 'visibility'" 
              :type="showPassword ? 'text' : 'password'"  
              @click:append="showPassword = !showPassword" 
              name="password" 
              label="Mot de passe" 
              :rules="[rules.required,rules.min]">
            </v-text-field>
            <v-text-field v-model="form.password_confirmation" 
              prepend-icon="fa-lock"
              :append-icon="showPasswordConf ? 'visibility_off' : 'visibility'" 
              :type="showPasswordConf ? 'text' : 'password'"  
              @click:append="showPasswordConf = !showPasswordConf"
              name="password_confirmation"
              label="Confirmation du mot de passe" 
              :rules="[rules.required,rules.min]">
            </v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn slot="activator" round block color="primary" :disabled="!valid" @click.native="register">Créer un compte</v-btn>
          <v-dialog v-model="isRegistered">
            <v-card class="rounded-card">
              <v-card-title class="headline">Bienvenue sur Ma p'tite poubelle !</v-card-title>
              <v-card-text>
                <div>Bravo, vous avez déjà réalisé le premier pas vers le Zéro Déchets.</div>
                <div> Prêt pour les autres ?</div>
                <div>Pas de panique ! Ma p'tite Poubelle est là pour vous accompagner, vous encourager, vous conseiller et vous récompenser ! </div>
                <div>Avant tout, nous devons apprendre à vous connaître pour vous aider.</div>
              </v-card-text>
              <v-card-actions>
                <v-btn round block color="primary" @click.native="login">
                  Poursuivre l'inscription
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="error.dialog">
         <v-card class="rounded-card">
              <v-card-title class="headline">Création de compte impossible</v-card-title>
              <v-card-text>
                {{error.msg}}
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" flat @click.native="error.dialog = false">
                  Fermer
                </v-btn>
              </v-card-actions>
            </v-card>
       </v-dialog>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: 'Register',
    data() {
      return {
        form: {
          username: '',
          email: '',
          password: '',
          password_confirmation: ''
        },
        showPassword: false,
        showPasswordConf: false,
        isRegistered: false,
        error:{
          dialog:false,
          msg:''
        },
        rules: {
          required: value => !!value || 'Le champ est requis',
          min: v => v.length >= 6 || 'Le champ doit contenir au moins 6 caractères',
          emailValid:  v => /.+@.+/.test(v) || 'L\'adresse mail doit être valide'
        }
      }
    },
    computed: {
      valid() {
        if (this.form.username === '' || this.form.email === '' || this.form.password === '') {
          return false
        }
        return true
      }
    },
    methods: {
      register() {
        axios.post('auth/register', this.form)
          .then(success => {
            this.isRegistered = true
          })
          .catch(error => {
            this.form.password = ''
            this.form.password_confirmation = ''
            this.error.dialog = true
            this.error.msg = error.data.message
          })
      },
      login() {
        this.$store.dispatch('AUTH_REQUEST', {email:this.form.email, password:this.form.password})
          .then(success => {
            this.$router.push('/home')
          })
      }
    }
  }
</script>
